# Node dependencies
node_modules/
client/node_modules/

# Python cache
__pycache__/
*.pyc
server/__pycache__/
server/**/*.pyc

# Env and secrets
.env
*.env

# Logs and OS clutter
*.log
.DS_Store

# Build artifacts
dist/
build/

# Ignore unnecessary data/media
server/data/
client/public/assets/login_video/
*.xlsx
*.csv
